[Unit]
Description=Steward for me

[Service]
Environment="PATH=/root/.nodebrew/current/bin:$PATH"
ExecStart=/usr/bin/make -C /opt/steward start
Restart=always
Type=forking

[Install]
WantedBy=multi-user.target
Alias=steward.service
